.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }
  .content{
    text-align: center;
    font-weight: bolder;
    color: red !important;
  }
  .content p{
    color: grey !important;
  }


.header {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  width: 100%;
  /* padding: 0.5rem; Adjust padding for button placement */
  position: relative; /* Add this line to position the button relative to the header */
}

.closeButton {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute; /* Position the button absolutely within the header */
  top: -0.5rem; /* Adjust the top position to align it properly */
  line-height: 1;
  color: #b3a8a8;
}


  
  @media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  